{
	"parserOptions": {
    	"parser": "babel-eslint"
	},
	"extends": [
	    "plugin:vue/essential", 
	    "standard"   
	],  
	"plugins": [
	    "html",
	    "vue",
	    "vue-libs"
	],
	"rules": {
      "no-tabs": "off",
      "no-new": "off",
      'indent': ["off", "tab"],
      'no-trailing-spaces': 0,
      'no-mixed-spaces-and-tabs': 0
    }
}